<!-- Main code for home component


<div class="jumbotron text-center">


    <div *ngIf="userService.isLoggedIn()" class="container">
        <h4 class="welcome">Welcome, {{ userService.getLoggedInUser().username }}</h4>
        <button class="btn btn-success" routerLink="/single_chat">Start Chatting</button>
    </div>
</div> -->


<!-- Theme code starts -->


<div id="frame">
	<div id="sidepanel">
		<div id="profile">
			<div class="wrap">
				<h3>Users</h3>

				<div id="status-options">
					<ul>
						<li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
						<li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
					</ul>
				</div>
			
			</div>
		</div>

		<div id="contacts">
			<ul>
				<li class="contact">
					<div class="wrap">
						<span class="contact-status online"></span>
						<div class="meta">
							<p class="name">Louis Litt</p>
							<p class="preview">You just got LITT up, Mike.</p>
						</div>
					</div>
				</li>

			</ul>
		</div>

	</div>
	<div class="content">
		<div class="contact-profile">
			<p>username of friend</p>

		</div>
		<div class="messages">
			<ul>
				<li class="sent">
					<p>How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!</p>
				</li>
				<li class="replies">
					<p>When you're backed against the wall, break the god damn thing down.</p>
				</li>

			</ul>
		</div>

	</div>
</div>









