<div id="mario-chat">
    <h2>{{ userService.getLoggedInUser().username }} {{ username }}</h2>
    <span><i *ngIf="isTyping" class="isTyping">typing...</i></span>
    <div id="chat-window">
        <ul style="list-style-type: none;">
        <li *ngFor="let item of chatHistory">
           <b> {{item.user}} </b> :  {{item.message}}
        </li>
        </ul>

            <!-- <p [class.userMessage] = "item.user == userService.getLoggedInUser().username" [class.secUserMessage]="item.user != userService.getLoggedInUser().username">{{ item.message }}</p>                 -->
        
        <!-- <div id="feedback"></div> -->
    </div>
    <input (keypress)="typing()" [(ngModel)]="message" name="message" type="text" placeholder="Message" />            
    <button id="send" (click)="sendMessage()">Send</button>    
</div>