
<body>
    <div *ngIf="userService.isLoggedIn()" id= "user">
        <h4 class="self">Welcome, {{ currentUserName}}</h4>
    </div>
  <div class="container clearfix">
    <div class="col-md-4">
      <div class="people-list" id="people-list">
        <ul class="list">
          <li class="clearfix" *ngFor="let user of Users">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg" alt="avatar" />
            <div class="about">
              <div class="name">
                  <a id = "usernames" [queryParams]="{ name: user.username}" [routerLink]= "['chat_history']"> {{ user.username }} </a>
             <!--      <a id = "usernames" (click) = "chatHistory(user)"> {{ user.username }} </a> -->
                </div>
          
              <div class="status" *ngIf = "user.isOnline" id="online">
                
              </div>
              <div class="status"  *ngIf = "!user.isOnline" id="offline">
                 
              </div>
               </div>
          </li>
       
          
     
          
       
        </ul>
      </div>  
        <div *ngIf = "userService.isLoggedIn()" id="logOut">
            <button id = "logout_btn" class="btn btn-success" (click) = "logOut()" >LogOut</button>
        </div> 
    </div>
 
    <div class="col-md-8">
      <router-outlet ></router-outlet>
    </div>
  </div>
  
</body>